.carousel-box-blue {
    background: #2395FF;
    border-radius: 60px;
}

.box-destination {
    box-shadow: 0px 8px 27px rgba(14, 63, 108, 0.15);
    border-radius: 20px;
}

.img-banner-right {
    margin: -50px -50px;
}

.landing-first-lower {
    margin: -30px 0;
}