/* .header{
    background-image: url('../../assets/blue-banner.svg');
} */
.bg{
    background: url('../../../assets/blue-banner.svg'), #F5F6FA;
    background-repeat: no-repeat;
    background-size: contain;
}
.border15{
    border-radius: 15px;
    background-color: white;
}
.uline{
    border-bottom: 2px solid rgba(210, 194, 255, 0.68);;
    width: 100%;
}
.w40{
    width: 40%;
}

.w55{
    width: 55%;
}
.hfitcontent{
    height: fit-content;
}