.card-background {
    background-color: #2395FF;
}

.card-white {
    box-shadow: 0px 8px 27px rgba(14, 63, 108, 0.19);
    border-radius: 20px;
}

.border-inner {
    border-left: 1px solid #E5E5E5;
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    border-right: 1px dashed #E5E5E5;
    box-sizing: border-box;
    border-radius: 7.5px;
}

.border-barcode {
    border-right: 1px solid #E5E5E5;
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 7.5px;
}

.flag-white {
    background: #FFFFFF;
    box-shadow: 0px 2px 4px rgba(14, 63, 108, 0.19);
    border-radius: 12px;
}

.btn-issued {
    background: #4FCF4D;
    border-radius: 6px;
}