.con{
    height: 80vh;
}

.chatCon{
    height: 65%;
    border-radius: 2rem;
    margin-top: .1%;
}

.conzz{
    height: 70%;
    overflow-y: auto;
}

.pic{
    height: 4rem;
    width: 4rem;
    border-radius: 1rem;
}

.receiverHeader{
    box-shadow: 0px 20px 40px rgba(78, 69, 69, 0.05);
    background-color: gainsboro;
    border-radius: 1rem;
}

.radius{
    border-radius: 1rem;
}
